numpy
matplotlib
ipywidgets
jupyter_contrib_nbextensions
scipy
appmode
image
ipyvuetify
bqplot
panda

nbconvert
rise
jupyter-docx-bundler
chardet
ipyturtle
networkx
graphviz
jupyter-tabnine
pydot
nbgitpuller

notebook<6.0
ipython<7.0
prompt-toolkit<2.0
ipywidgets>7.0
ipyevents
scikit-learn
